    body {
        padding: 0;
        margin: 0;
        color: #000;
    }  

    html, body {
        height: 100%;
        width: 100%;
        font-size:13px;
        font-family: 'Maven Pro';  
    }

    a {
        color: #000;
    }

    a:hover {
        color: #2196f3;
        text-decoration: none;
    }

    h1 {
        padding-top: 10px;
        font-family: 'Maven Pro';
        font-size: 20px;
        font-weight: 700;
        margin-top: 0px;
        color: white;
    }

    h2 {
       font-family: 'Maven Pro';
        font-size: 16px;
        font-weight: 700;
        color: black;

    }

    h3 {
        padding-top: 10px;
        font-family: 'Maven Pro';
        font-size: 17px;
        font-weight: 700;
        margin-top: 0px;
        color: #000;
        padding-left:5px;
    }

    h4 {
        font-family: 'Maven Pro';
        font-size: 14px;
        font-weight: 500;
        color: #000;
        margin-top: 0px;
        margin-bottom: 6px;
    }

    h6 {
        font-family: 'Maven Pro';
        color: #666;
        font-size:12px;
    }

    ul {
        padding-left: 0px;
        margin-top: 10px;
        list-style:none;
          -webkit-padding-start: 10px;
          -webkit-padding-end: 10px;
    }

    .col-sm-9, .col-md-9 {
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        height: 100%;
    }

    .col-xs-6, .col-md-6 {
        padding-left: 0px;
        /*padding-top: 0px;*/
        padding-right: 0px;
        position: relative;
    }

    .map6 {
        height: 100%;
    }

    .col-md-3 {
        height: 100%;
    }

    #container {
        height:100%;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        overflow: hidden;
    }

    .myButton {
        margin: 3px;
        padding: 8px;
        line-height: 15px;
    }

    #side {    
        height:100%;
       /* width: 100%;*/
    }

    #line {
        border-top: 1px solid #888;
        border-width: 70%;
    }

    .fa-github {
        font-size: 30px;
    }

    a .fa-github {
        color:black;
    }

    a .fa-github:hover {
        color: #e8e119;
    }

    .fa-twitter {
        font-size: 30px;
    }

    a .fa-twitter {
        color:black;
    }

    a .fa-twitter:hover {
        color: #e8e119;
    }

    .fa-facebook {
        font-size: 30px;
        vertical-align: top;
    }

    a .fa-facebook {
        color:black;
    }

    a .fa-facebook:hover {
        color: #e8e119;
    }

    .input-group {
        border-radius: 20px;
    }

    #colors {
        display: table-row;
    }

    .quartile {
        display: table-cell;
    }

    .graph {
        clear: both;
        overflow: hidden;
        display: table;
        height: 15px;
        width: 100%;
        border-radius: 3px;
        -webkit-background-clip: padding;
        border: 1px solid #b3b3b3;
    }

    #myMap {
        height: 260px;
        width: 85%;
        min-width: 160px;
        padding-left: 10%;
        margin-left: 10%;
        margin-top: 1%;
        padding-right: 10px;
        position: relative;
        box-shadow: 0 0 10px rgba(0,0,0,0.55);
        overflow: scroll;
    }

    .row {
        background-color: #fff;
        margin-left: 0px;
        margin-right: 0px;
  
        color: black;
        height: 100%;
        width:auto;
    }

    .panel-danger {
        border-color: #1b519f;    
    }

    .panel-danger>.panel-heading {
        background-color: #1b519f;
        border-color: #1b519f;
    }

    #infoWindow {
        background: #fff;
        padding: 5px;
        margin-top: 0px;
        margin-left: 10px;
        margin-bottom: 0px;
        border-radius: 5px;
        font-size: 10px;
        position: absolute;
        bottom: 20px;
        left: 18px;
        width: 150px;
        display: block;
        opacity: 0.9;
        color:black;
        font-family: 'Roboto', sans-serif;
        height: 95px;
    }

    #infoWindow li.min {
        float: left;
        text-transform: uppercase;
    }

    #infoWindow li.max {
        float: right;
        text-transform: uppercase;
    }

    #infoWindow ul {
      list-style:none;
      -webkit-padding-start: 10px;
      -webkit-padding-end: 10px;
    }

    #infoWindow h5 {
        font-size:11px;
        font-family: 'Roboto';
        font-weight:700;
        margin-left: 10px;
    }

    #alink {
        color: black;
        font-weight: 700;
    }

    .btn-primary {
        border-radius: 30px;
        background-color: #e8e119;
        border-color: #a5a010;
    }

    .sidebar-cell {   
        display: block;
        overflow: scroll;
        padding-top:0px;
        padding-left:10px;
        padding-right:10px;
        height:320px;
    }

    .sidesmall {
        padding-left:10px;
        height: 200px;
    }

    #chart {
        height: 90%;
    }
    #chart2 {
        height: 90%;
    }


    #left {
        padding-top:0px;
        float: left;
        width: 96%;
        height: 100%;
       
    }

    text {
        font: 11px sans-serif;
        font-family: Maven Pro;

    }
    
    #chart svg {
        height: 100%;
        width:auto;
    }

    g.nvd3 .nv-wrap .nv-discreteBarWithAxes {
        transform-origin: 0px 0px 0px;
    }

    .nv-y {
        display: none;
    }   
    .nv-x {
        display: none;
    }   

    .nv-zeroLine {
        display: none;
    }

    #sq1 {
        color: #4daf4a;
    }

    #matrix {
        height: 280px;
        padding-top: 0px;
        padding-left: 0%;
        background-color: #fff;
        width: 100%;
/*        min-width: 290px;*/
    }


    .highcharts-data-labels {
        visibility: hidden;
    }

    .highcharts-xaxis-labels {
     visibility: hidden;
    }

    .highcharts-axis-labels .highcharts-coloraxis-labels  {
        x: 15;
        width:100px;
    }

    rect.highcharts-plot-background {
        x:44 !important;
    }

    rect.highcharts-plot-border {
        x:53px;
    }

   g.highcharts-series  {
/*    transform: translate(53px,30px);
    min-width: 250px;*/
 }

    .highcharts-grid-line {
        visibility: hidden;
    }

    .highcharts-axis-line {
        visibility: hidden;
    }


  text[g.highcharts-axis-labels .highcharts-coloraxis-labels] {
    y: 20;
 }


 /* navbar */

 .navbar {
    margin-bottom: 1px;
    background-color: #eee;
 }
 .navbar-brand {
    padding-right: 0px;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
     }
